<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body>
    <h1>로드 완료</h1>

    <script>


        let generateCsrfToken = function () {
            function generateRandomString (length) {
                let text = "";
                let possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
                for (let i = 0; i < length; i++) {
                    text += possible.charAt(Math.floor(Math.random() * possible.length));
                }
                return text;
            };
            return btoa(generateRandomString(32));
        }

        let setCookie = function (cname, cvalue) {
            document.cookie = cname + "=" + cvalue + ";path=/";
        }

        jQuery.ajaxSetup({
           beforeSend : function (xhr, settings) {
               if (!( /^http:.*/.test(settings.url) || /^https:.*/.test(settings.url) )) {
                   let csrfToken = generateCsrfToken();
                   setCookie("CSRF_TOKEN", encodeURIComponent(csrfToken));
                   xhr.setRequestHeader("_csrf", csrfToken);
               }
           }
        });

        $.ajax({
            type : "GET",
            url : "/ajax/request1",
            success : function (result) {
                console.log(result);
            }
        });
    </script>
</body>
</html>